USE [master]
GO
/****** Object:  Database [KyNghe]    Script Date: 4/4/2019 1:06:20 PM ******/
CREATE DATABASE [KyNghe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KyNghe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KyNghe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KyNghe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\KyNghe_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KyNghe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KyNghe]
GO
/****** Object:  Table [dbo].[DuAn]    Script Date: 4/4/2019 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DuAn](
	[MaDuAn] [nchar](10) NOT NULL,
	[TenDuAn] [nchar](10) NULL,
	[NgayBatDau] [nchar](10) NULL,
	[NgayKetThuc] [nchar](10) NULL,
	[TinhTrang] [nchar](10) NULL,
 CONSTRAINT [PK_DuAn] PRIMARY KEY CLUSTERED 
(
	[MaDuAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KyNang]    Script Date: 4/4/2019 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNang](
	[MaKyNang] [nchar](10) NOT NULL,
	[TenKyNang] [nchar](10) NULL,
	[MoTa] [nchar](10) NULL,
 CONSTRAINT [PK_KyNang] PRIMARY KEY CLUSTERED 
(
	[MaKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KyNangNhanVien]    Script Date: 4/4/2019 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyNangNhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[MaKyNang] [nchar](10) NOT NULL,
	[MoTaKhac] [nchar](10) NULL,
 CONSTRAINT [PK_KyNangNhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[MaKyNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/4/2019 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](50) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Sdt] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanCong]    Script Date: 4/4/2019 1:06:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCong](
	[MaPhanCong] [nchar](10) NOT NULL,
	[MaNV] [nvarchar](50) NULL,
	[MaDuAn] [nchar](10) NULL,
	[NgayBatDau] [nchar](10) NULL,
	[NgayKetThuc] [nchar](10) NULL,
	[SoNgayDaLamViec] [nchar](10) NULL,
	[TienDoHoanThanh] [nchar](10) NULL,
 CONSTRAINT [PK_PhanCong] PRIMARY KEY CLUSTERED 
(
	[MaPhanCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[NhanVien] ([MaNV], [Ten], [NgaySinh], [DiaChi], [Sdt], [Email]) VALUES (N'1', N'thang', CAST(N'1990-02-02' AS Date), N'a', N'a', N'a')
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ten], [NgaySinh], [DiaChi], [Sdt], [Email]) VALUES (N'2', N'huy', CAST(N'2019-04-15' AS Date), N'b', N'b', N'b')
GO
INSERT [dbo].[NhanVien] ([MaNV], [Ten], [NgaySinh], [DiaChi], [Sdt], [Email]) VALUES (N'3', N'abc', CAST(N'2019-04-30' AS Date), N'abc', N'abc', N'abc')
GO
ALTER TABLE [dbo].[KyNangNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_KyNangNhanVien_KyNang] FOREIGN KEY([MaKyNang])
REFERENCES [dbo].[KyNang] ([MaKyNang])
GO
ALTER TABLE [dbo].[KyNangNhanVien] CHECK CONSTRAINT [FK_KyNangNhanVien_KyNang]
GO
ALTER TABLE [dbo].[KyNangNhanVien]  WITH CHECK ADD  CONSTRAINT [FK_KyNangNhanVien_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KyNangNhanVien] CHECK CONSTRAINT [FK_KyNangNhanVien_NhanVien]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_DuAn] FOREIGN KEY([MaDuAn])
REFERENCES [dbo].[DuAn] ([MaDuAn])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_DuAn]
GO
ALTER TABLE [dbo].[PhanCong]  WITH CHECK ADD  CONSTRAINT [FK_PhanCong_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[PhanCong] CHECK CONSTRAINT [FK_PhanCong_NhanVien]
GO
USE [master]
GO
